<footer class="footer-section" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-top-section">
        <div class="footer-logo-block">
          <a href="./index.html" class="footer-logo">watchcharm</a>
          <ul class="footer-socials">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                aria-label="Facebook"
              >
                <svg class="footer-icon">
                  <use href="img/icons.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                aria-label="Instagram"
              >
                <svg class="footer-icon">
                  <use href="img/icons.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                aria-label="YouTube"
              >
                <svg class="footer-icon">
                  <use href="img/icons.svg#icon-youtube" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="footer-slogan">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
        <a href="tel:+380684439426" class="footer-phone">+380 (68) 443–94–26</a>
      </div>
      <div class="footer-bottom-section">
        <div class="footer-bottom-top">
          <ul class="footer-nav-menu">
            <li><a href="./index.html" class="footer-nav-link">Home</a></li>
            <li><a href="#about-us" class="footer-nav-link">About Us</a></li>
            <li><a href="#catalog" class="footer-nav-link">Catalog</a></li>
            <li><a href="#sale" class="footer-nav-link">Sale</a></li>
            <li>
              <a href="#review-section" class="footer-nav-link">Reviews</a>
            </li>
            <li>
              <a href="#contact-us" class="footer-nav-link">Contact Us</a>
            </li>
          </ul>
          <a
            href="https://maps.app.goo.gl/iKfUgX17w2rh8q9S8"
            target="_blank"
            class="footer-contact-text"
          >
            1678 S. Pioneer Road Salt Lake City UT 84104
          </a>
        </div>

        <div class="footer-bottom-bottom">
          <p class="footer-small-text">
            &#169;2023 The Watch Spot. All rights reserved.
          </p>
          <div class="footer-legal-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
