<header class="header">
  <div class="container header-container">
  
    <a href="/index.html" class="logo">watchcharm</a>


    <button class="burger-btn" type="button" aria-label="Open menu">
      <svg class="burger-icon" width="34" height="34">
        <use href="/images/icons.svg#icon-menu"></use>
      </svg>
    </button>

   
    <div class="nav-social-wrapper">
      <nav class="header-nav">
        <ul class="nav-list">
          <li><a href="/index.html" class="link current">Home</a></li>
          <li><a href="#" class="link">About Us</a></li>
          <li><a href="#" class="link">Catalog</a></li>
          <li><a href="#" class="link">Sale</a></li>
          <li><a href="#" class="link">Reviews</a></li>
          <li><a href="#" class="link">Contact Us</a></li>
        </ul>
      </nav>

     
      <ul class="social-icons">
      <li class="soc-item">
        <a class="soc-linc" href="#"
          ><svg class="soc-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="soc-item">
        <a class="soc-linc" href="#"
          ><svg class="soc-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-fasebook"></use></svg
        ></a>
      </li>
      <li class="soc-item">
        <a class="soc-linc" href="#"
          ><svg class="soc-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-twitter"></use></svg
        ></a>
      </li>
    </ul>
    </div>
  </div>
</header>
<script>
  const burgerBtn = document.querySelector('.burger-btn');
  burgerBtn.addEventListener('click', () => {});
</script>
