<header class="header">
  <div class="container header-container">
    <a href="/index.html" class="logo">watchcharm</a>

    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="/index.html" class="link current">Home</a></li>
        <li><a href="#about-us" class="link">About Us</a></li>
        <li><a href="#catalog" class="link">Catalog</a></li>
        <li><a href="#sale" class="link">Sale</a></li>
        <li><a href="#review-section" class="link">Reviews</a></li>
        <li><a href="#contact-us" class="link">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="social-icons">
      <li class="soc-item">
        <a class="soc-linc" href="https://www.facebook.com/goITclub/ "
          ><svg class="soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="soc-item">
        <a class="soc-linc" href="https://www.instagram.com/goitclub/"
          ><svg class="soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="soc-item">
        <a class="soc-linc" href="https://www.youtube.com/c/GoIT "
          ><svg class="soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger-btn" type="button" aria-label="Open menu">
      <svg class="burger-icon" width="34" height="34">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<script>
  const burgerBtn = document.querySelector('.burger-btn');
  burgerBtn.addEventListener('click', () => {});
</script>
