<section id="review-section" class="reviews-section">
  <div class="container review-container">
    <h2 class="reviews-title ">Reviews</h2>
    <ul class="response-list">
      <li class="response-list-item">
        <div class="review-card-wrapper">
        <img srcset="/img/reviews/reviews-2.png 1x , /img/reviews/reviews-2@2x.png 2x" 
          src="/img/reviews/reviews-2.png" 
          alt="John Wax" width="56" height="56"
          class="responser-image">
          
        <div class="reviews-text">
          <h3 class="name-reviews">John Wax</h3>
          <p class="response">Buying a watch from was the best choice for me. The design is perfectly combined with high
            quality materials. The strap
            fits nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>

        </div>
      </li>
      <li class="response-list-item person-2">
        <div class="review-card-wrapper">
        <img srcset="/img/reviews/reviews-1.png 1x , /img/reviews/reviews-1@2x.png 2x" 
           src="/img/reviews/reviews-1.png" alt="Victoria Romashenko" width="56" height="56"
          class="responser-image">
        <h3 class="name-reviews">Victoria Romashenko</h3>
        <p class="response">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around
          me. The build quality and
          attention to detail make it a real gem among my accessories.</p>
        </div>
      </li>
      <li class="response-list-item person-3">
        <div class="review-card-wrapper">
        <img srcset="/img/reviews/reviews-3.png 1x , /img/reviews/reviews-3@2x.png 2x" src="/img/reviews/reviews-3.png" alt="Anastasia Trachuk" width="56" height="56"
          class="responser-image">
        <h3 class="name-reviews">Anastasia Trachuk</h3>
        <p class="response">My watch from is a real masterpiece. Every detail impresses with the high quality of
          execution. Special features like
          [specify features] make it an indispensable companion in my daily life.</p>
        </div>
      </li>
    </ul>
  </div>
</section>



