<section class="section-sale" id="sale">
  <div class="container">
    <h2 class="sale-header">Sale</h2>
    <div class="sale-wrapper">
      <ul class="sale-images-list">
        <li class="sale-images-item">
          <picture>
            <source
              srcset="
                /img/sale/watch1-min.png    1x,
                /img/sale/watch1@2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/mob-watch1-min.png    1x,
                /img/sale/mob-watch1@2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="s-watch-img"
              src="/img/sale/watch1-min.png"
              alt="Smartwatch front view with digital activity screen"
            />
          </picture>
        </li>
        <li class="sale-images-item">
          <picture>
            <source
              srcset="
                /img/sale/watch2-min.png    1x,
                /img/sale/watch2@2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/mob-watch2-min.png    1x,
                /img/sale/mob-watch2@2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="s-watch-img"
              src="/img/sale/watch2-min.png"
              alt="Smartwatch front view with colorful interface"
            />
          </picture>
        </li>
        <li class="sale-images-item">
          <picture>
            <source
              srcset="
                /img/sale/watch3-min.png    1x,
                /img/sale/watch3@2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/mob-watch3-min.png    1x,
                /img/sale/mob-watch3@2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="s-watch-img"
              src="/img/sale/watch3-min.png"
              alt="Smartwatch side profile view"
            />
          </picture>
        </li>
        <li class="sale-images-item">
          <picture>
            <source
              srcset="
                /img/sale/watch4-min.png    1x,
                /img/sale/watch4@2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/mob-watch4-min.png    1x,
                /img/sale/mob-watch4@2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="s-watch-img"
              src="/img/sale/watch4-min.png"
              alt="Smartwatch back view showing heart rate sensor"
            />
          </picture>
        </li>
      </ul>

      <div class="sale-big-watch">
        <picture>
          <source
            srcset="/img/sale/watch5-min.png 1x, /img/sale/watch5@2x-min.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/sale/mob-watch5-min.png    1x,
              /img/sale/mob-watch5@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="l-watch-img"
            src="/img/sale/watch5-min.png"
            alt="Smartwatch angled view showing analog-style display"
          />
        </picture>
      </div>

      <div class="sale-description">
        <div class="sale-description-top">
          <p class="sale-description-header">
            MARQ&reg; Commander (Gen 2) - Carbon Edition
          </p>
          <p class="sale-description-subheader">Product tag: 706587</p>
        </div>
        <div class="sale-price">
          <p class="sale-price-low">€1500</p>
          <p class="sale-price-high">€3000</p>
        </div>
        <p class="sale-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-features-list">
          <li class="sale-features-item">Fused carbon fiber</li>
          <li class="sale-features-item">Grade-5 Titanuim</li>
          <li class="sale-features-item">Athlete</li>
          <li class="sale-features-item">Golfer</li>
          <li class="sale-features-item">Commander</li>
          <li class="sale-features-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>

             
             
         
