:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Gilroy', sans-serif;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 1.25;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

h2 {
  text-transform: capitalize;
  color: #0c0c0c;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.92;
  letter-spacing: -0.02em;
}

p {
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

input {
  font-family: inherit;
}
