/* section 3 */

.section-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 100%;
}

.container-catalog {
  display: flex;
  flex-direction: column; /* Вміст розташовується вертикально */
  align-items: center; /* Центрує картки по горизонталі */
  justify-content: center;
}

.catalog-section-title {
  font-size: 32px; /* Розмір шрифту для заголовка */
  line-height: 1; /* Міжрядковий інтервал */
  margin-bottom: 24px; /* Відстань між заголовком і картками */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  align-self: flex-start; /* Вирівнює заголовок по лівому краю */
}

.catalog-list {
  display: flex;
  flex-direction: column; /* Картки розташовуються одна під одною */
  align-items: center; /* Центрує картки по горизонталі */
  gap: 20px; /* Відстань між картками */
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-card {
  width: 335px;
  height: 364px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Розділяє блоки фото і тексту */
  padding: 24px 28px; /* Внутрішні відступи картки */
}

.catalog-card-image {
  display: flex;
  justify-content: center; /* Центрує картинку по горизонталі */
  align-items: center;
  padding: 18px 36px; /* Відступи: зверху/знизу, з боків */
}

.catalog-item-picture-wrap {
  width: 208px;
  height: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнювання тексту по лівому краю */
}

.catalog-card-title {
  font-size: 16px;
  margin-bottom: 8px; /* Відступ між заголовком і описом */
  text-align: left;
}

.catalog-card-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  text-align: left;
}

/* Приховує останні дві картки за замовчуванням */
.catalog-card:nth-child(n + 5) {
  display: none;
}

.show-more-btn {
  display: flex;
  border: none; /* Видаляє бордер */
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer; /* Додає курсор у вигляді руки при наведенні */
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Відступ між останньою карткою і кнопкою */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавний перехід */
}

.show-more-btn:hover,
.show-more-btn:focus {
  background: #1f3cd4; /* Колір фону при ховері або фокусі */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Додає тінь */
  text-decoration: none; /* Залишає текст без підкреслення */
}

@media screen and (min-width: 768px) {
  .section-catalog {
    max-width: 768px;
    padding: 40px 32px;
  }

  .catalog-section-title {
    font-size: 48px; /* Розмір шрифту для заголовка */
    line-height: 0.92; /* Міжрядковий інтервал */
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px; /* Відстань між заголовком і картками */
    text-align: left; /* Вирівнювання тексту по лівому краю */
    align-self: flex-start; /* Вирівнює заголовок по лівому краю */
  }

  .catalog-card:nth-child(n + 5) {
    display: flex; /* Скасовує приховування карток */
  }

  .show-more-btn {
    display: none; /* Приховує кнопку на планшетах і десктопах */
  }

  .catalog-card {
    width: 344px;
    height: 414px;
    flex-basis: calc((100% - 16px) / 2);
  }
  .catalog-card-image {
    display: flex;
    justify-content: center; /* Центрує картинку по горизонталі */
    align-items: center;
    padding: 24px 32px 10px; /* Відступи: зверху/знизу, з боків */
  }
  .catalog-list {
    margin: 0 auto; /* Центрує контент */
    flex-direction: row; /* Розташовує картки в ряд */
    flex-wrap: wrap; /* Дозволяє переносити картки на новий рядок */
    justify-content: center; /* Центрує картки */
    gap: 32px 16px; /* Відстань між картками */
  }

  .catalog-item-picture-wrap {
    width: 268px;
    height: 292px;
  }
  .catalog-card-title {
    font-size: 20px;
    line-height: 1;
    /* Додаємо обмеження */
    white-space: nowrap; /* Текст у одному рядку */
    overflow: hidden; /* Приховує текст, що виходить за межі */
    text-overflow: ellipsis; /* Додає три крапки (...) */
    max-width: 280px; /* Обмеження ширини тексту */
  }
}
/* desktop */

@media screen and (min-width: 1280px) {
  .section-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 65px;
    margin: 0 auto;
    max-width: 1280px;
  }
  .catalog-card {
    width: 368px;
    height: 414px;
    max-width: calc((100% - 48px) / 3); /* Три картки в рядок */
  }

  .catalog-list {
    gap: 32px 24px;
    max-width: 1280px; /* Встановлює обмеження для десктопів */
  }
  .catalog-card-image {
    display: flex;
    justify-content: center; /* Центрує картинку по горизонталі */
    align-items: center;
    padding: 6px 6px 14px; /* Відступи: зверху/знизу, з боків */
  }
  .catalog-item-picture-wrap {
    width: 292px;
    height: 292px;
  }

  .catalog-card-title {
    font-size: 20px;
    line-height: 1;
    /* Додаємо обмеження */
    max-width: 304px; /* Обмеження ширини тексту */
  }
}
