
.container {
  max-width: 320px;

}

.header {
  background-color: #ffffff;
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-burger {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
  text-decoration: none;
  color: #0c0c0c;
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.burger-icon {
  width: 34px;
  height: 34px;
  fill: #1c1c1c;
}

.header-nav,
.social-icons {
  display: none;
}


@media (min-width: 768px) {

}


@media (min-width: 1158px) {
  

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-list .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1c1c1c;
    transition: color 250ms;
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: #4d5ae5;
  }
  .link {
    position: relative;
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms ease;
  }

  .link:hover,
  .link:focus {
    color: #4d5ae5;
  }

 
  .link.current {
    color: #4d5ae5;
  }

  .link.current::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px; /* Положение точки под текстом */
    width: 6px;
    height: 6px;
    background-color: #4d5ae5;
    border-radius: 50%; /* Делаем точку круглой */
  }

  .social-icons {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  .social-icons {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .social-icons a svg {
    width: 24px;
    height: 24px;
    fill: #1c1c1c;
    transition: fill 0.3s;
  }

  .social-icons a:hover svg {
    fill: #4d5ae5;
  }
}
