.header {
  background-color: #ffffff;
  padding: 20px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #0c0c0c;
}
button {
  cursor: pointer;
}

.burger-btn {
  border: none;
  background-color: transparent;
  display: block;
  padding: 0;
}

.burger-icon {
  width: 34px;
  height: 34px;
  fill: #1c1c1c;
}

.header-nav,
.social-icons {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
    fill: #1c1c1c;
  }

  .logo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .burger-btn {
    display: none;
  }
  .container {
    max-width: 1158px;
  }

  .logo {
    font-size: 20px;
  }
  .header-nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-list .link {
    text-decoration: none;
    color: #1c1c1c;
    transition: color 250ms;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: #4d5ae5;
  }
  .link {
    position: relative;
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms ease;
  }

  .link:hover,
  .link:focus {
    color: #4d5ae5;
  }

  .link.current {
    color: #4d5ae5;
  }

  .link.current::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 6px;
    height: 6px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }

  .social-icons {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  .social-icons svg {
    width: 36px;
    height: 36px;
    fill: #1c1c1c;
    transition: fill 0.3s;
  }

  .social-icons a:hover svg {
    fill: #4d5ae5;
  }

  .nav-list,
  .social-icons {
    flex-shrink: 0;
  }
}
