
/* ------reviews section------- */
.reviews-section{
  padding-top: 30px;
  padding-bottom: 30px;
}

.reviews-title {
  
  font-size: 32px;
  margin-bottom: 24px;
}

.name-reviews {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
.response-list{
display: flex;
}

.response {
  font-size: 14px;
  line-height: 129%;
  color: rgba(12, 12, 12, 0.4);
  max-width: 263px;
  text-align: center;
  
  
}

.response-list-item{
  border-radius: 30px;
    padding: 32px 36px;
    max-width: 335px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    
}
.responser-image{
    border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 24px;

}
.person-2,
.person-3 {
  display: none;
}


@media screen and (min-width: 768px) {
 
    .reviews-title {
      font-size: 48px;
      line-height: 92%;
      margin-bottom: 40px;
      padding-left: 5px;
    }

    .name-reviews {
      font-size: 18px;
      line-height: 110%;
    }

    .response {
      font-size: 14px;
      max-width: 272px;
        
        }
    .response-list {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 16px;
    }
  
    .response-list-item {
      width: calc((100% - 16px) / 2);
      height: auto;
    }
    .reviews-section {
          padding-top: 40px;
          padding-bottom: 40px;
        }
        .person-2{
          display:block;
        }
   .person-3{
    display: none;
   }
}
  @media screen and (min-width: 1280px) {
  

    .reviews-title {
      line-height: 92%;
      padding-left: 50px;
    }

    .name-reviews {
      font-size: 18px;
      line-height: 110%;
    }

    .response {
     font-weight: 500;
     font-size: 16px;
     line-height: 125%;
     max-width: 292px;
     justify-content: center;
     
    }

  .response-list-item {
    
    width: calc((100% - 40px) / 3);
  }
    .reviews-section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .response-list {
          flex-wrap:nowrap;
          gap: 20px;
        }
        .person-3{
         display: block;
          }
      }